body {
  margin-top: 105px;
  overflow-x: hidden; }

.site-theme {
  color: black;
  background-color: black; }

.site-theme-border {
  border-color: black !important; }

a.site-link {
  color: black; }

.site-link:hover {
  color: black; }

a.site-link-inverse {
  color: whitesmoke;
  background: black; }

.site-link-inverse:hover {
  color: black;
  background: whitesmoke; }

.navbar {
  box-shadow: 2px 2px 5px black;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

.react {
  position: relative;
  min-height: 80vh;
  height: 80%;
  background: white; }

html {
  background: url(../img/computer_science.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#showcase {
  position: relative;
  background: url("../img/computer_science.jpg");
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin-top: -50px; }

#authors .fa {
  font-size: 25px; }

#authors .card:hover {
  background: black;
  color: #fff; }
  #authors .card:hover .fa {
    color: #fff; }

footer#main-footer {
  background: #000;
  color: #fff; }
